<!--<p id="notice"><%= notice %></p>-->

<p>
  <strong>Day:</strong>
  <%= @step.stepDate %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @step.stepAmount %>
</p>

<%= link_to 'Edit', edit_step_path(@step) %> |
<%= link_to 'Back', steps_path %>
