<%= form_for(@step) do |f| %>
  <% if @step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@step.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
      <% @step.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stepDate %><br>
    <%= f.datetime_select :stepDate %>
  </div>
  <div class="field">
    <%= f.label :stepAmount %><br>
    <%= f.number_field :stepAmount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
