<%= render file:"/app/views/layouts/header.html" %>

<center>
<br><br><br><br><br>

<p id="notice"><%= notice %></p>
<p>
  <strong>Goalname:</strong>
  <%= @goal.goalName %>
</p>

<p>
  <strong>Timeframe:</strong>
  <%= @goal.timeFrame %>
</p>

<p>
  <strong>Goalamount:</strong>
  <%= @goal.goalAmount %>
</p>

<div class="button">
	<%= link_to "Home", dashboard_index_path %>
</div>
</center>