<%= render file:"/app/views/layouts/header.html" %>

<center>
<br><br><br><br><br>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= @goalType %></strong>
</p>

<p>

  <strong>Goals of <%= @goal.goalAmount %> Per <%= @time %></strong>
  
</p>

<%= link_to dashboard_index_path do %>
<div class="button">
	Home
</div>
<% end %>
</center>