<%= render file:"/app/views/layouts/header.html" %>

<center>
<br><br><br><br><br>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= @goalType %></strong>
</p>

<p>

  <strong>Goals of <%= @goal.goalAmount %> Per <%= @time %></strong>
  
</p>
<div class="button">
	<%= link_to "Home", dashboard_index_path %>
</div>
</center>