 <%= render file:"/app/views/layouts/header.html" %>
 <article>
    <ul data-role="listview">
        <li>
            <%= link_to steps_path do%>
			<%= image_tag "shoeprints.png" %>
            <h1><%=@stepToday %> &nbsp Steps</h1>
            <% end %>
        </li>
        <li>
            <%= link_to distances_path do%>
			<%= image_tag "location.png" %>
            <h1><%=@distanceToday %>&nbsp Miles</h1>
            <% end %>
        </li>
        <li>
            <%= link_to calories_path do%>
			<%= image_tag "flame.png" %>
            <h1><%=@calorieToday %>&nbsp Calories</h1>
            <% end %>
        </li>
        <li>
            <a href="#">
            <h1>Log workout</h1>
            <%= image_tag "running.png" %>
            <p></p>
            </a>
        </li>
        <li>
            <a href="#">
            <h1>Log weight</h1>
            <%= image_tag "clipboard.png" %>
            <p></p>
            </a>
        </li>
    </ul>
</article>
