<%= render file:"/app/views/layouts/header.html" %>
<section>
  <center>
    <h1>CALORIES</h1>
    <p class="numBig">
      <%= @caloriesDaily %>
    </p>
    <h2>History</h2>
    <table class="pure-table" style ="text-align:center">
        <thead>
          <tr align = "center">
            <th>Date</th>
            <th>Calories</th>
            <th>Completion</th>
          </tr>
      </thead>
      <tbody>
          <% @caloriesHistory.each do |c| %>
          <tr class="<%= cycle('odd', 'even') -%>">
              <td><%= c.calorieDate.strftime("%-m/%-d") %></td>
              <td><%= c.calorieOut %></td>
              <td><%= ((c.calorieOut/@calorieGoal)*100).round %> %</td>
          <!--2000 can become goal when we that set up -->
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>  
  </center>
</section>
