<p id="notice"><%= notice %></p>

<p>
  <strong>Caloriedate:</strong>
  <%= @calories.calorieDate %>
</p>

<p>
  <strong>Caloriein:</strong>
  <%= @calories.calorieIn %>
</p>

<p>
  <strong>Calorieout:</strong>
  <%= @calories.calorieOut %>
</p>

<%= link_to 'Edit', edit_calories_path(@calories) %> |
<%= link_to 'Back', calories_path %>
