<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @profile.userName %>
</p>

<p>
  <strong>Userage:</strong>
  <%= @profile.userAge %>
</p>

<p>
  <strong>Usergender:</strong>
  <%= @profile.userGender %>
</p>

<p>
  <strong>Userheight:</strong>
  <%= @profile.userHeight %>
</p>

<p>
  <strong>Userweight:</strong>
  <%= @profile.userWeight %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
