<!DOCTYPE html>
<html>
	<head>
	  <title>Catbit</title>
	  
	  <%= stylesheet_link_tag    'application', media: 'all' %>

	  <!--
	  <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	  <script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
			javascript_include_tag "jquery_ujs"
		-->
	  <%= javascript_include_tag :application %>
	  <%= csrf_meta_tags %>

      <!--steps-->
	  <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<!--[if IE]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

		<!--dashboard-->
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
        <style>
        img.fullscreen {
            max-height: 100%;
            max-width: 100%;
        }       
        </style>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	</head>
	<body>
		<%= yield %>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
	</body>
</html>
