<header> <!--Find my css stylesheet under app>assets>stylesheets>steps.scss-->
	<div id="side-menu">
		<div id="menuicon">
			<%= image_tag "menu.png" %>
			<ul class="topnav">
					<li><div class="link"> <%= link_to "Home", dashboard_index_path %> 	</div><span class="icon"></span></li><br>
					<!--<li><div class="link"> Profile	</div><span class="icon"></span></li><br>-->
					<li><div class="link"> <%= link_to "Goals", goals_path %>	</div><span class="icon"></span></li><br>
			</ul>
		</div>
	</div>
	
	<div id="userName">
		<div id="logo">
			<%= @name %>
		</div>
	</div>
	
	<div id="signout">
		<%= link_to image_tag("signout.png"), sessions_destroy_path, :method => :delete  %>
	</div>
</header>

<script>
	$(function(){
	    $('#side-menu').slideMenu();
	});
</script>